@model SMIS.Models.topicstat

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_smisLayout.cshtml";

}

<div class="card">
    <div class="card-header">
        <h4 class="text-danger">Are you sure you want to delete this? </h4>
    </div>
    <div class="card-body">
        <div class="media">
            <div class="media-body">
                <p>

                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.value)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.value)
                        </dd>
                    </dl>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <a href="@Url.Action("Index", "Class")" class=" btn btn-outline-primary">
                                    Cancel
                                </a>
                                <input type="submit" value="Delete" class="btn btn-danger" />
                            </div>
                        </div>
                    }

                </p>
            </div>
            <img class="ml-3" src="~/Content/assets/img/image-64.png" alt="Generic placeholder image">
        </div>
    </div>
</div>
