




@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Emptybg.cshtml";

}

<div class="row justify-content-center">
    <div class="col-12 col-md-6 col-sm-12">
        <div class="card">
            <div class="card-header">
                <h4>200</h4>
            </div>
            <div class="card-body">
                <div class="empty-state" data-height="400">
                    <div class="empty-state-icon bg-danger">
                        <i class="fas fa-times"></i>
                    </div>
                    <h1>CODE 200</h1>
                    <p class="lead">
                        @if (String.IsNullOrEmpty(ViewBag.errorMessage))
                        {
                            <h2 class="text-danger">An error occurred while processing your request</h2>
                        }
                        else
                        {
                            <h2 class="text-danger">@ViewBag.errorMessage</h2>
                        }                                                                                                    
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>