@using SMIS.Models.ViewModel
@model DataPoint
@{
    Layout = "~/Views/Shared/_Emptybg.cshtml";
}
<script>
window.onload = function () {

var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
    zoomEnabled: true,

	theme: "light2",
    exportEnabled: true,
	title: {
		text: "Topic progress tracker"
	},
	axisY: {
		title: "Progress in percentage(%)"
	},
	data: [{
		type: "column",
		dataPoints: @Html.Raw(ViewBag.datapoints)
	}]
});
chart.render();

}
</script>

<div id="chartContainer" style="height: 370px; width: 100%;" class="pb-3 mb-3"></div>

    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>