
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_smisLayout.cshtml";
}



<div class="row">
    <div class="col-md-6 col-lg-12 col-xl-12">

        <div class="card ">
            <div class="card-header">
                <h4>CLASS STATISTICS </h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-9">
                        @{Html.RenderAction("chart", "Users");}

                        <div class="row mb-0">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <div class="list-inline text-center">
                                    <div class="list-inline-item p-r-30">
                                        <i data-feather="arrow-up-circle"
                                           class="col-green"></i>
                                        <h5 class="m-b-0">75-100%</h5>
                                        <p class="text-muted font-14 m-b-0">Topic Complete</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <div class="list-inline text-center">
                                    <div class="list-inline-item p-r-30">
                                        <i data-feather="arrow-down-circle"
                                           class="col-orange"></i>
                                        <h5 class="m-b-0">50-74%</h5>
                                        <p class="text-muted font-14 m-b-0">Half way complete</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <div class="list-inline text-center">
                                    <div class="list-inline-item p-r-30">
                                        <i data-feather="arrow-down-circle"
                                           class="col-red"></i>
                                        <h5 class="mb-0 m-b-0">0 - 25%</h5>
                                        <p class="text-muted font-14 m-b-0">No Progress</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>


</div>