@model IEnumerable<SMIS.Models.TopicsTable>

<div class="row">
    @if (Model.Count() > 0)
    {
        foreach (var file in Model)
        {
            <div class="col-12 col-md-6 col-sm-12">
                <div class="card">
                    <div class="card-header">

                    </div>
                    <div class="card-body">
                        <div class="video-frame">
                            <video id="VideoPlayer" src='@Url.Action("DownloadFile", "Topics", new {fileId = file.Topic_id})' controls="true"  style="width:100%; height:auto;" loop="true" />
                        </div>
                        <hr class="padding-2" />
                        <div class="card-footer">
                            TOPIC OVERVIEW:
                            @file.Overview
                        </div>

                        <a href="@Url.Action("Details","Videos", new {id = file.Topic_id})" class="btn btn-primary"> DOWNLOAD</a>
                    </div>


                </div>
            </div>
    }
}
else
            {
        <button class="w-100 btn btn-danger">No data available for this topic</button>
            }
</div> 